
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.next-box {
  display: block;
}


.next {
  display: block;
}

.next-show {
  transition: opacity 0.2s ease 0s;
  opacity: 0.8;
}

.next-hide {
  transition: opacity 2s ease 5s;
  opacity: 0;
}

.row2 {
  margin-left: 11px;
}

.row3 {
  margin-left: 22px;
}
