
.next {
  display: block;
}

.next-show {
  transition: opacity 0.2s ease 0s;
  opacity: 0.8;
}

.next-hide {
  transition: opacity 2s ease 3s;
  opacity: 0;
}

.row {
  display: flex;
}

.row-b {
  margin-left: 11px;
}

.row-c {
  margin-left: 22px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 2;
}
