
.next {
  display: block;
  transform: scale(0.75);
  transform-origin: top left;
}

.next-show {
  transition: opacity 0.2s ease 0s;
  opacity: 0.8;
}

.next-hide {
  transition: opacity 2s ease 3s;
  opacity: 0;
}

.row {
  display: flex;
}
