

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

@keyframes icon-add {
  0% {opacity: 0; width: 0; height: 0;}
  50% {opacity: 0; width: 44; height: 44;}
  100% {opacity: 1; width: 44; height: 44;}
}

@keyframes icon-remove {
  0% {opacity: 1; width: 44; height: 44;}
  50% {opacity: 0; width: 44; height: 44;}
  100% {opacity: 0; width: 0; height: 0;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes slide-in {
  0% {width: 0; height: 0;}
  100% {width: 44; height: 44;}
}

@keyframes slide-out {
  0% {width: 44; height: 44;}
  100% {width: 0; height: 0;}
}

@keyframes brightness-pulse {
  0% {filter:brightness(1);}
  10% {filter:brightness(1.5);}
  20% {filter:brightness(2);}
  30% {filter:brightness(2.5);}
  40% {filter:brightness(3);}
  50% {filter:brightness(2.5);}
  60% {filter:brightness(2);}
  70% {filter:brightness(1.5);}
  80% {filter:brightness(1);}
  90% {filter:brightness(0.5);}
  100% {filter:brightness(1);}
}