

.combat-show {
  animation: fadein 0.1s forwards;
}

.combat-hide {
  animation: fadeout 1s forwards;
}

/* Transition and animations here */



.blink {
  animation: blink 1s infinite;
  animation-delay: 0.2s;
}
