    html {
      /* FFXIV font look */
      font-family: "Meiryo";
      font-size: 12px;
      text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
      font-weight: 300;
      color: #E2EBF5;
    }
